<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>사용자 전체보기</h1>
  <button (click)="btnClicked()">Push!</button>
</div>

<ul>
    <!-- <li>No. {{articles[0].id}} title: {{articles[0].title}}</li>
    <li>No. {{articles[1].id}} title: {{articles[1].title}}</li> -->
    <li *ngFor="let item of users">
      No. {{item.id}}
      ID: {{item.login}}
      URL: <a [href]="item.url">{{item.url}}</a>
      <img [src]="item.avatar_url" width="20px">
    </li>
</ul>

<!-- <app-detail [detail]="selectedArticle"></app-detail> -->
