<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>게시물 전체보기</h1>
  <button (click)="btnClicked()">Push!</button>
</div>

<ul>
    <!-- <li>No. {{articles[0].id}} title: {{articles[0].title}}</li>
    <li>No. {{articles[1].id}} title: {{articles[1].title}}</li> -->
    <li *ngFor="let article of articles">
      No. {{article.id}}
      title: <a href="#" (click)="titleClicked(article)">{{article.title}}</a>
    </li>
</ul>

<app-detail [detail]="selectedArticle"></app-detail>
